/* header starts */
h2{
  font-size: 45px;
}
/* header ends */

/* col one starts */
input{
  margin-bottom: 10px;
  padding: 20px;
}

button{
  padding: 10px;
  font-size: 20px;
}


#col-one{
  width: 100px;
  margin-left: 20px;
}

p.city{
  font-size: 20px;
  font-weight: bold;
  background-color: rgb(177, 175, 175);
  padding: 15px;
  cursor: pointer;
}

.uv-index{
  background-color: rgb(12, 141, 12);
  font-size: 23px;
  color: white;
  padding:5px 20px 5px 20px;
  border-radius: 15px;
}
/* col one ends */



/* col two starts */
.col-two-content-one{
  min-height: 30vh;
  padding: 10px;
} 

.city-info{
  font-size: 32px;
}


/* col-two-content-two starts */
.col-two-content-two{
  margin-top:15px;
}

.day-weather-content{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  background-color: rgb(39, 38, 37);
  color: rgb(247, 235, 235);
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 5px;
  width: 100%;
}

li{
  margin-top: 10px;
}

li{
  text-decoration: none;
  list-style: none;
}

#span-space {
  margin-left: 15px;
}
/* col two ends */
